<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>recordID</key>
		<string>10000</string>
		<key>facebookname</key>
		<string>夏军</string>
		<key>coin</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>recordID</key>
		<string>10001</string>
		<key>facebookname</key>
		<string>夏军</string>
		<key>coin</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>recordID</key>
		<string>10002</string>
		<key>facebookname</key>
		<string>夏军</string>
		<key>coin</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
